[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sketch = "*"
hashids = "*"
werkzeug = "==2.0.1"
bson = "*"
pymongo = "*"
gunicorn = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
pysqlite3 = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
